{% extends 'blog/base.html' %}
{% load static %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
{% for post in posts %}

<div class="col-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
         style="min-height: 300px;">
        <div class="col h-20rem p-5 d-flex flex-column text-white rounded shadow bg-primary has-bg-img"
             style="background-image: url({% static 'images/news/news-thumbnail-1.jpg' %}); background-size: cover; background-position:center;">
        </div>

        <div class="col-lg-8 p-4">
            <div class="col mb-2">
                <button type="button" class="btn btn-outline-secondary btn-sm">Python</button>
                <button type="button" class="btn btn-outline-secondary btn-sm">Coding</button>
                <button type="button" class="btn btn-outline-secondary btn-sm">JS</button>
            </div>

            <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
            <p class="date">
                Опубликовано: {{ post.publish }}, автор: {{ post.author }}.
            </p>
            <p>{{ post.body|truncatewords:30|linebreaks }}</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end position-absolute bottom-0 end-0">
                <a type="button" class="btn btn-outline-primary btn-sm m-4" href="{{ post.get_absolute_url }}">Читать
                    полностью</a>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}