{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 70px;">
    <div class="container-fluid">
        <!-- Логотип -->
        <a class="navbar-brand" href="#">
            <img src="https://static.wixstatic.com/media/8d5e0f_2b09539f8d144c80b883caba3de4444b~mv2.png/v1/fit/w_500,h_500,q_90/file.png"
                 alt="Your Logo" style="max-height: 70px;">
        </a>

        <!-- Кнопка для мобильного меню -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Список пунктов меню -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Python</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Javascript</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Алгоритмы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Django</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Еще
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Подпункт 1</a></li>
                        <li><a class="dropdown-item" href="#">Подпункт 2</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Еще подпункт</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Поле поиска с круглой кнопкой -->
        <form class="d-flex m-1">
            <input class="form-control me-2 " type="search" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Искать</button>
        </form>
    </div>
</nav>

<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="content col-sm-9">
            <section aria-label="section" style="background-size: cover;">
                <div class="container" style="background-size: cover;">
                    <div class="row" style="background-size: cover;">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </section>
        </div>
        <div class="sidebar col-sm-3">
            <h4>Сайдбар</h4>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>