{% load static %}
<header class="p-3 text-bg-dark">
  <nav></nav>
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="navbar-brand" href="{% url 'blog:post_list' %}"><img src="{% static 'images/logo.png' %}" alt="RAW.code" style="max-height: 70px;" /></a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        {% for i in menu %}
          <li>
            <a href="{{ i.url }}" class="nav-link px-2 text-white">{{ i.title }}</a>
          </li>
        {% endfor %}
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search" />
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>
